body {
  background-color: #fbf5ff;
  color: #251531;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  align-items: center;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.countdown {
  color: #a463bf;
  background-image: -webkit-linear-gradient(
    45deg,
    #a463bf 0%,
    #8e43ad 33%,
    #9075a6 67%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
