@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fbf5ff;
  margin: 0;
  color: #251531;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.timer-label {
  font-size: 1rem;
}

.countdown {
  display: flex;
  gap: 1rem;
  align-items: end;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with 0.8 opacity */
  padding: 10px 5px 10px 5px;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#dager,
#timer,
#minutter {
  font-size: 2.5rem;
}

#sekunder {
  font-size: 2rem;
}

.svg {
  display: flex;
  justify-content: center;
}

.svg svg:hover {
  background-color: #e5e7eb;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  #dager,
  #timer,
  #minutter {
    font-size: 4rem;
  }

  #sekunder {
    font-size: 3rem;
  }
  .countdown {
    gap: 2rem;
    top: 15%;
  }
}
@media only screen and (min-width: 800px) {
  #dager,
  #timer,
  #minutter {
    font-size: 6rem;
  }

  #sekunder {
    font-size: 4.5rem;
  }
  .countdown {
    gap: 4rem;
  }
}

.trykk {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}